@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
}

::-webkit-scrollbar {
    width: 0px;
    height: 0px;
}

img {
    width: 100vw;
}

a {
    display: block;
    margin: 0px;
    background-color: darkred;
    color: white;
    text-decoration: none;
    font-size: 1.5em;
    font-weight: bolder;
    padding: 20px;
    text-align: center;
}

a:hover{
    background-color: red;
}